<a href="https://colab.research.google.com/github/rajat459/python/blob/main/class__test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def find_prime_factors(n):
    prime_factors = []
    for factor in range(2, n + 1):
        if  n % factor == 0:
            prime_factors.append(factor)
            n//=factor

    return prime_factors

In [ ]:
find_prime_factors(56)

[2, 4, 7]

In [ ]:
class BankAccount:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited: {amount}")
        else:
            print("Invalid deposit amount")

    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            print(f"Withdrawn: {amount}")
        else:
            print("Insufficient balance or invalid amount")

    def get_balance(self):
        return self.balance

    def get_name(self):
        return self.name

In [ ]:

sbi= BankAccount("rajat",100000000)
sbi.deposit(123456789)
sbi.withdraw(100000000)
print(sbi.get_name())
print(sbi.get_balance())

Deposited: 123456789
Withdrawn: 100000000
rajat
123456789

In [ ]:
class Vehicle:
    def __init__(self, brand, model, year,fuel_type):
        self.brand = brand
        self.model = model
        self.year = year
        self.fuel_type=fuel_type

    def display_info(self):
        print(self.name,self.brand,self.year,self.fuel_type)

class Car(Vehicle):
    def __init__(self, brand, model, year, fuel_type):
        super().__init__(brand, model, year,fuel_type)

    def display_info(self):
        print(f"brand: {self.brand}, model: {self.model}, year: {self.year}, type: {self.fuel_type}")

In [ ]:

car = Car("Toyota", "Corolla", 2022, "Petrol")
car.display_info()

brand: Toyota, model: Corolla, year: 2022, type: Petrol

In [ ]:
class Shape:
    def __init__(self, shape, size):
        self.shape = shape
        self.size = size

    def area(self):
        if self.shape == "rectangle":
            length, width = self.size
            return length * width
        elif self.shape == "circle":
            radius, = self.size=
            return 3.14 * radius ** 2
        else:
            return 0

In [ ]:

rect = Shape("rectangle", (10, 5))
circle = Shape("circle", (7,))

print("Rectangle Area:", rect.area())
print("Circle Area:", circle.area()) 8.l̥l̥;7

Rectangle Area: 50
Circle Area: 153.86

In [ ]:
def student_rajat(records):
    grade= {}
    for student, scores in records:
        average_score = sum(scores) / len(scores)
        grade[student] = average_score
    return grade
records = [
  ("Alice", [85, 90, 92]),
  ("Bob", [78, 81, 86]),
  ("Charlie", [88, 87, 91])
]
student_rajat(records)

{'Alice': 89.0, 'Bob': 81.66666666666667, 'Charlie': 88.66666666666667}

In [ ]:
from abc import ABC, abstractmethod

class employe(ABC):
    def __init__(self, name):
        self.name = name

    @abstractmethod
    def calculate_salary(self):
        pass

class full_time(employe):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary

    def calculate_salary(self):
        return self.salary

class part_time(employe):
    def __init__(self, name, price,worked):
        super().__init__(name)
        self.price = price
        self.worked =worked

    def calculate_salary(self):
        return self.price * self.worked

In [ ]:

emp1 = full_time("rajat", 1000000000)
emp2 = part_time("gaurav", 100, 30)

print(emp1.calculate_salary())
print(emp2.calculate_salary())

1000000000
3000

In [ ]:

def word_count(text):
    words = text.split()
    word_count = {}
    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1

    return word_count