<a href="https://colab.research.google.com/github/rajat459/python/blob/main/dioctionaery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python script to sort (ascending and descending) a dictionary by value
sample_dict = {'apple': 3, 'banana': 1, 'cherry': 5, 'date': 2}
ascending=dict(sorted(sample_dict.items(),key=lambda item:item[1]))
print(ascending)
decending=dict(sorted(sample_dict.items(),key=lambda x:x[1] ,reverse=True))
print(decending)

{'banana': 1, 'date': 2, 'apple': 3, 'cherry': 5}
{'cherry': 5, 'apple': 3, 'date': 2, 'banana': 1}

In [ ]:
#Write a Python script to add a key to a dictionary.
dic= {0: 10, 1: 20}
dic[5]=30
print(dic)

{0: 10, 1: 20, 5: 30}

In [ ]:
#3. Write a Python script to concatenate the following dictionaries to create a new one.
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
dic4.update(dic1)
dic4.update(dic2)
dic4.update(dic3)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#. Write a Python script to check whether a given key already exists in a dictionary.
my_dict = {1: 10, 2: 20, 3: 30, 4: 40}
target=int(input('enter thr number u find in dictionary'))
if target in my_dict:
    print('yes its exist')
else:
    print('nope')

enter thr number u find in dictionary4
yes its exist

In [ ]:
#5. Write a Python program to iterate over dictionaries using for loops.
my_dict = {1: 'apple', 2: 'banana', 3: 'cherry'}
for key in my_dict:
  print(key)
for value in my_dict.values():
  print(value)
for key,value in my_dict.items():
  print(key,value)

1
2
3
apple
banana
cherry
1 apple
2 banana
3 cherry

In [ ]:
#6. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
n=int(input('enter a number'))
new={}
for i in range(1,n+1):
  new[i]=i*i
print(new)

enter a number5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#7. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.
new={}
for key in range(1,16):
  new[key]=key*key
print(new)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#Write a Python script to merge two Python dictionaries.

dict1 = {1: 'apple', 2: 'banana'}
dict2 = {3: 'cherry', 4: 'date'}
dict1.update(dict2)
print(dict1)

In [ ]:
#Write a Python program to sum all the items in a dictionary.
my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
sum=0
for value in my_dict.values():
  sum=sum+value
print(sum)

100

In [ ]:
# Write a Python program to multiply all the items in a dictionary.
my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
sum=1
for value in my_dict.values():
  sum=sum*value
print(sum)

240000

In [ ]:
#Write a Python program to remove a key from a dictionary.
my_dict = {'a': 10, 'b': 20, 'c': 30}
del my_dict['b']
print(my_dict)

{'a': 10, 'c': 30}

In [ ]:
#Write a Python program to map two lists into a dictionary.a
a = ['a', 'b', 'c']
b = [10, 20, 30]
new=dict(zip(a,b))
print(new)

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
#14. Write a Python program to sort a given dictionary by key.
my_dict = {'banana': 2, 'apple': 4, 'cherry': 1, 'date': 3}
new=dict(sorted(my_dict.items()))
print(new)

{'apple': 4, 'banana': 2, 'cherry': 1, 'date': 3}

In [ ]:
#Write a Python program to get the maximum and minimum values of a dictionary.
my_dict = {'a': 10, 'b': 20, 'c': 5, 'd': 30}
max_key=None
min_key=None
for key,value in my_dict.items():
  if value>max:
    max=value
    max_key=key
  if value<max:
    max=value
    min_key=key

print(max_key)
print(min_key)

d
c

In [2]:
# Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.
my_dict = {
    'x': list(range(11, 21)),
    'y': list(range(21, 31)),
    'z': list(range(31, 41))
}

x_fifth = my_dict['x'][4]
y_fifth = my_dict['y'][4]
z_fifth = my_dict['z'][4]

x_fifth, y_fifth, z_fifth

(15, 25, 35)

In [1]:
#. Write a Python program to drop empty items from a given dictionary.
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = {}
for k, v in original_dict.items():
    if v is not None:
        new_dict[k] = v
new_dict

{'c1': 'Red', 'c2': 'Green'}

In [4]:
#Write a Python program to filter a dictionary based on values.
original_dict = {'a': 10, 'b': 25, 'c': 15, 'd': 30}
filtered_dict = {}
for k, v in original_dict.items():
    if v > 20:
        filtered_dict[k] = v
filtered_dict

{'b': 25, 'd': 30}

In [3]:
#Write a Python program to convert more than one list to a nested dictionary.
keys = ['a', 'b', 'c']
values = [1, 2, 3]
nested_dict = {}
for i in range(len(keys)):
    nested_dict[keys[i]] = {'value': values[i]}
nested_dict

{'a': {'value': 1}, 'b': {'value': 2}, 'c': {'value': 3}}

In [5]:
#. Write a Python program to filter the height and width of students, which are stored in a dictionary.
students = {
    'Alice': {'height': 5.5, 'width': 20},
    'Bob': {'height': 6.0, 'width': 25},
    'Charlie': {'height': 5.8, 'width': 30}
}

filtered_students = {}
for name, details in students.items():
    if details['height'] > 5.5 and details['width'] < 30:
        filtered_students[name] = details

filtered_students

{'Bob': {'height': 6.0, 'width': 25}}

In [7]:
#Write a Python program to verify that all values in a dictionary are the same.
original_dict = {'a': 10, 'b': 10, 'c': 10}
are_all_values_same = len(set(original_dict.values())) == 1
are_all_values_same

True

In [8]:
# Write a Python program to create a dictionary grouping a sequence of key-value pairs into a dictionary of lists
pairs = [('a', 1), ('b', 2), ('a', 3), ('b', 4), ('c', 5)]
grouped_dict = {}

for key, value in pairs:
    if key not in grouped_dict:
        grouped_dict[key] = []
    grouped_dict[key].append(value)

grouped_dict

{'a': [1, 3], 'b': [2, 4], 'c': [5]}

In [9]:
#Write a Python program to split a given dictionary of lists into lists of dictionaries.
original_dict = {
    'a': [1, 2, 3],
    'b': [4, 5, 6],
    'c': [7, 8, 9]
}

split_dict = []
for i in range(len(next(iter(original_dict.values())))):
    temp_dict = {}
    for key, value in original_dict.items():
        temp_dict[key] = value[i]
    split_dict.append(temp_dict)

split_dict

[{'a': 1, 'b': 4, 'c': 7}, {'a': 2, 'b': 5, 'c': 8}, {'a': 3, 'b': 6, 'c': 9}]

In [10]:
#Write a Python program to remove a specified dictionary from a given list.
original_list = [{'a': 1}, {'b': 2}, {'c': 3}]
dict_to_remove = {'b': 2}

original_list = [d for d in original_list if d != dict_to_remove]
original_list

[{'a': 1}, {'c': 3}]

In [12]:
sample_dict = {
    'a': '10',
    'b': '20.5',
    'c': 'hello',
    'd': '30'
}

for key, value in sample_dict.items():
    try:
        sample_dict[key] = int(value)
    except ValueError:
        try:
            sample_dict[key] = float(value)
        except ValueError:
            continue

print(sample_dict)

{'a': 10, 'b': 20.5, 'c': 'hello', 'd': 30}

In [13]:
sample_dict = {
    'a': [1, 2, 3],
    'b': [4, 5, 6],
    'c': [7, 8, 9]
}

for key in sample_dict:
    sample_dict[key].clear()

print(sample_dict)

{'a': [], 'b': [], 'c': []}

In [14]:
sample_dict = {
    'a': [1, 2, 3],
    'b': [4, 5, 6],
    'c': [7, 8, 9]
}

for key in sample_dict:
    sample_dict[key] = [x * 2 for x in sample_dict[key]]

print(sample_dict)

{'a': [2, 4, 6], 'b': [8, 10, 12], 'c': [14, 16, 18]}

In [17]:
sample_dict = {
    'a': 10,
    'b': 20,
    'c': 30,
    'd': 40
}

keys_list = list(sample_dict.keys())
key_at_index = keys_list[2]
value_at_index = sample_dict[key_at_index]

print(f"Key at index 2: {key_at_index}")
print(f"Value at index 2: {value_at_index}")

Key at index 2: c
Value at index 2: 30