<a href="https://colab.research.google.com/github/rajat459/python/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a Python program to multiply all the items in a list.
list1=[1,2,3,4,5]
sum=0
for i in list1:
  sum+=i
print(sum)

15

In [ ]:
# Write a Python program to multiply all the items in a list.
list1=[1,2,3,4,5]
sum=1
for i in list1:
  sum*=i
print(sum)

120

In [ ]:
#Write a Python program to get the largest number from a list.
list1=[12,34,56,78,964,922]
max=list1[0]
for i in list1:
  if i>max:
    max=i
print(max)

964

In [ ]:
#write a python program to find the minimun value from the list
list1=[12,34,56,78,964,922]
min=list1[0]
for i in list1:
  if i<min:
    min=i
print(min)

12

In [ ]:
#Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
list1=['abc', 'xyz', 'aba', '1221',121]
count=0
for i in list1:
  if isinstance(i,str) and len(i)>=2 and i[0]==i[-1]:
    count+=1
 print(count)

2

In [ ]:
#Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
list1=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list2=sorted(list1,key=lambda x:x[-1])
print(list2)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
#Write a Python program to remove duplicates from a list.
list1=[12,2,2,3,4,45,4,6,77,7,8,8]
list2=[]
for i in list1:
  if i not in list2:
    list2.append(i)
print(list2)

[12, 2, 3, 4, 45, 6, 77, 7, 8]

In [ ]:
# Write a Python program to check if a list is empty or not.
list1=[]
if list1:
  print('list1 i not empty')
else:
  print('empty')

list1 i not empty

In [ ]:
#Write a Python program to clone or copy a list.
list1=[12,2,2,3,4,45,4,6,77,7,8,8]
list2=[]
list2=list1.copy()
print(list1)
print(list2)

[12, 2, 2, 3, 4, 45, 4, 6, 77, 7, 8, 8]
[12, 2, 2, 3, 4, 45, 4, 6, 77, 7, 8, 8]

In [ ]:
# Write a Python program to find the list of words that are longer than n from a given list of words.
list1=['rahar','nandi','kneuhf','gcuuibbf']
n=int(input('enter the number'))
found=False
for i in list1:
  if len(i)>n:
    print(i)
    found=True
if not found:
  print('none')

enter the number8
none

In [ ]:
mydict = {'z': 3, 'a': 1, 'c': 2, 'b': 4}
newdict={}
value=0
for key in mydict:
  if mydict[key]< value:
    value=key
    newdict.update(value)
print(newdict)

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']
last_color = colors.pop()  # Removes and returns the last element
print(last_color)
print(colors)  # Prints the updated list

In [ ]:
list2=[1,2,2,3,4,5,5,6,7,8]
new=[]
for i in list2:
  if i not in new:
    new.append(i)
print(new)

In [ ]:


def hollow_diamond(rows):

  for i in range(rows):
    for j in range(rows - i - 1):
      print(" ", end="")
    for j in range(2 * i + 1):
      if j == 0 or j == 2 * i:
        print("*", end="")
      else:
        print(" ", end="")
    print()

  for i in range(rows - 2, -1, -1):
    for j in range(rows - i - 1):
      print(" ", end="")
    for j in range(2 * i + 1):
      if j == 0 or j == 2 * i:
        print("*", end="")
      else:
        print(" ", end="")
    print()


hollow_diamond(5)

In [ ]:
def sum_of_numbers():
    numbers = list(map(int, input("Enter numbers separated by spaces: ").split()))
    total = 0
    for num in numbers:
      if num%2==0:
        total += num
    return total


sum_of_numbers()

In [ ]:
def vowel(string):
  b='aeiou'
  count=0
  for char in string:
    if char in b:
     count+=1
  return count