<a href="https://colab.research.google.com/github/rajat459/python/blob/main/loops_and_conditons_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


def get_matrix_coordinates(matrix, value):

  for row_index, row in enumerate(matrix):
    for col_index, cell_value in enumerate(row):
      if cell_value == value:
        return (row_index, col_index)
  return None

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

value_to_find = 5

coordinates = get_matrix_coordinates(matrix, value_to_find)

if coordinates:
  print(f"The value {value_to_find} is found at coordinates: {coordinates}")
else:
  print(f"The value {value_to_find} is not found in the matrix.")

In [ ]:


matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

value_to_find = 5

for row_index, row in enumerate(matrix):
  for col_index, value in enumerate(row):
    if value == value_to_find:
      print(f"The value {value_to_find} is found at coordinates: ({row_index}, {col_index})")
      break
else:
  print(f"The value {value_to_find} is not found in the matrix.")

The value 5 is found at coordinates: (1, 1)
The value 5 is not found in the matrix.

In [ ]:


matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

value_to_find = 12

ans = 0
for row_index, row in enumerate(matrix):
  for col_index, value in enumerate(row):
    if value == value_to_find:
      print(f"The value {value_to_find} is found at coordinates: ({row_index}, {col_index})")
      ans =1
      break
if(ans==0):
  print("not found")

not found

In [ ]:
def chota_kela(c , l):
print(c * l)
chota_kela(2,3)

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-17-8ac3dcac74f3>, line 2)

In [ ]:
chota_kela(4,5)

20

In [ ]:
def sex():
  a=int(input("bsdk  tere age bata"))
  size=int(input("bsdk  tere size bata"))
  if(a>=18 and size>6):
    print("chudai permitted")
  else:
     print('choty lulli wale' )

sex()

bsdk  tere age bata22
bsdk  tere size bata6
choty lulli wale

In [ ]:
sex

NameError: name 'sex' is not defined

In [ ]:
def sub(a,b,c):
  print(a-b-c)
sub(a=1,b=2,c=3)

-4

In [ ]:
def greetings(age , name=""):
  print(f"hello {name} you are {age} years old")

In [ ]:
greetings(20,'rajat')

hello rajat you are 20 years old

In [ ]:
def sum_all(*args):
  print(sum(args))

In [ ]:
sum_all(1,3,4,5,6,7,8,9,10)

53

In [ ]:


def multiply_numbers(numbers):

  result = 1
  for number in numbers:
    result *= number
  print(f"The product of the numbers is: {product}")

  return result
numbers_to_multiply = [1, 2, 3, 4, 5]
product = multiply_numbers(numbers_to_multiply)

The product of the numbers is: 120

In [ ]:
multiply_numbers([1,2,3,4,5])

The product of the numbers is: 120

120

In [ ]:
def muthi(**pussy):
  for key,value in pussy.items():
    print(f"{key} : {value}")

In [ ]:
muthi(pink='pussy',brown='pussy',black='pussy')

pink : pussy
brown : pussy
black : pussy

In [ ]:
count=1
while (count<=10):
  print("hello")
  count+=1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:


count = 1
while count <= 10:
  print("hello")
  count += 1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
i=100
while(i>=1):
  print(i)
  i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
n=int(input("enter a number"))
i=1
while(i<=10):
  print(f'{n}*{i}={n*i}')
  i+=1

enter a number7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [ ]:
number=[10,20,30,40,50,60,70,80]
index=0
while(index<=len(number)):
  print(number[index])
  index+=1

10
20
30
40
50
60
70
80

IndexError: list index out of range

In [ ]:
number=(10,20,30,40,50,60,70,80)
i=0
x=30
while(i<=len(number)):
  if(number[i]==x):
    print("fount at index " ,i)
  else:
    print("finding")
  i+=1

finding
finding
fount at index  2
finding
finding
finding
finding
finding

IndexError: tuple index out of range

In [ ]:
list=[]
for char in "(][)":
  if char in "({[)":
    list.append(char)
print(list)

['(', '[', ')']

In [ ]:
list=[]
x=0
for char in "(][)":
  if char in "({[)":
    list.append(char)
  else:
    if len(list)==0:#when we write a code for make as code false is called as indicator
      x+=1
    break
    if char==")" and list.pop()!="(":
      break
    elif char=="]" and list.pop()!="(":
      break

    elif char=="}":list.pop()!="}":
      break
if(x==1)
  print("valid")
   elif(len(list)==0):
      print("invalid")
    else:
  print("invalid")

In [ ]:
list=["hey helo hey user"]

In [ ]:



name = "ishaan"
half = len(name) // 2
convert_name = name[:half].lower() + name[half:].upper()
print(convert_name)

ishAAN

In [ ]:


list = ["hey helo hey user"]
new_list = []
for item in list:
  words = item.split()
  unique = []
  for word in words:
    if word not in unique:
      unique.append(word)
  new_list.append(" ".join(unique))

print(new_list)

['hey helo user']

In [ ]:
list1["hey125"]
list2["yashy"]

NameError: name 'str1' is not defined