<a href="https://colab.research.google.com/github/rajat459/python/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = 5
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [2]:
n = 4
for i in range(1, n+1):
    for j in range(1, i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [21]:
n = 5
for i in range(n, 0, -1):
    print(" " * (n-i) + "* " * i)

* * * * *
 * * * *
  * * *
   * *
    *

In [22]:
n = 5
for i in range(1, n+1):
    print(" " * (n-i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [23]:
n = 4
for i in range(1, n+1):
    print(" " * (n-i), end="")
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

   1
  2 1
 3 2 1
4 3 2 1

In [18]:
n = 5
for i in range(1, n+1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [19]:
n = 5
for i in range(n, 0, -1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

In [20]:
n = 5
for i in range(1, n+1):
    print(" " * (n-i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
n = 5

for i in range(1, n+1):
    print(" " * (n-i), end="")
    print("* " * i)
for i in range(n-1, 0, -1):
    print(" " * (n-i), end="")
    print("* " * i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [16]:
for i in range(1, n+1):
    print("*" * i + " " * (2*(n-i)) + "*" * i)
for i in range(n, 0, -1):
    print("*" * i + " " * (2*(n-i)) + "*" * i)

*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *

In [17]:
n = 5
for i in range(n):
    for j in range(n):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
n = 4
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [6]:
n = 5
for i in range(n):
    num = 1
    for j in range(1, i+1):
        print(" ", end="")
    for j in range(i+1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)
    print()

1
 1 1
  1 2 1
   1 3 3 1
    1 4 6 4 1

In [4]:
18
n = 4
for i in range(1, n+1):
    print(" " * (n-i), end="")
    for j in range(1, i+1):
        print(j, end=" ")
    print()

   1
  1 2
 1 2 3
1 2 3 4

In [7]:
n = 4
for i in range(1, n+1):
    print(" " * (n-i), end="")
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

   1
  2 1
 3 2 1
4 3 2 1

In [8]:
n = 4
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [9]:
n = 4
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [10]:
n = 4
num = 1
for i in range(1, n+1):
    for j in range(1, i+1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [12]:
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        if (i+j) % 2 == 0:
            print("1", end=" ")
        else:
            print("0", end=" ")
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [13]:
n = 4
for i in range(1, n+1):
    print(" " * (n - i), end="")
    for j in range(1, i+1):
        print(j, end="")
    for j in range(i-1, 0, -1):
        print(j, end="")
    print()

   1
  121
 12321
1234321

In [14]:
n = 5
for i in range(1, n+1):
    print(" " * (n - i), end="")
    print("* " * n)

    * * * * *
   * * * * *
  * * * * *
 * * * * *
* * * * *