<a href="https://colab.research.google.com/github/rajat459/python/blob/main/slicing_in_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
create a new list containing [2, 4] from numbers = [1, 2, 3, 4, 5] using slicing
numbers = [1, 2, 3, 4, 5]
new_list = numbers[1:4:2]
print(new_list)

[2, 4]

In [ ]:
To create a new tuple from data = (10, 20, 30, 40) containing all elements except the last one:

data = (10, 20, 30, 40)
new_tuple = data[:-1]
print(new_tuple)
Output: (10, 20, 30)

In [ ]:
To concatenate two lists, list1 = [1, 2] and list2 = [3, 4], and create a new list:
list1 = [1, 2]
list2 = [3, 4]
new_list = list1 + list2
print(new_list)
Output:
[1, 2, 3, 4]

In [ ]:
If-else statement to check if a variable x is greater than, less than, or equal to 10:

x=10
if x > 10:
    print("x is greater than 10")
elif x < 10:
    print("x is less than 10")
else:
    print("x is equal to 10")

In [ ]:
To extract "World" from s = "Hello, World!" using slicing:

s = "Hello, World!"
extracted_word = s[7:12]
print(extracted_word)
Output:
World

In [ ]:

Using an f-string to print "The value is 42" where 42 is stored in a variable named value:

value = 42
print(f"The value is {value}")
Using an f-string to print "The value is 42" where 42 is stored in a variable named value:

python
Copy code
value = 42
print(f"The value is {value}")

In [ ]:
To check if 'banana' is present in the tuple fruits = ('apple', 'banana', 'cherry') and print a message:

fruits = ('apple', 'banana', 'cherry')
if 'banana' in fruits:
    print("Banana is present in the tuple")

SyntaxError: expected 'else' after 'if' expression (<ipython-input-7-0143aa9f3d2f>, line 1)

In [ ]:
To use slicing to get a new list containing the last three elements from data = [10, 20, 30, 40, 50]:

data = [10, 20, 30, 40, 50]
new_list = data[-3:]
print(new_list)

In [ ]:
If-else statement to determine if a string text ends with the suffix .txt:

text = "hello.txt"
if text.endswith(".txt"):
    print("The string ends with .txt")
else:
    print("The string does not end with .txt")

In [ ]:


To use slicing to create a new list containing the first three elements from values = [5, 10, 15, 20, 25]:

values = [5, 10, 15, 20, 25]
new_list = values[:3]
print(new_list)

In [ ]:

To print the first and last elements of the list names = ['Alice', 'Bob', 'Charlie']:

names = ['Alice', 'Bob', 'Charlie']
print(names[0], names[-1])

In [ ]:
To create a new string with every second character from text = "abcdefgh":
text = "abcdefgh"
new_string = text[::2]
print(new_string)
Output will be: "aceg"