<a href="https://colab.research.google.com/github/rajat459/python/blob/main/test_assighnment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def sum(numbers):
  total=0
  for num in numbers:
    total+=num
  return total
numbers=[1,2,3,4,5]
print(sum(numbers))

15

In [6]:
def remove(list1):
  new=[]
  for i in list1:
    if i not in new:
      new.append(i)
  return new
list1=[1,2,3,4,4,5,6]
print(remove(list1))

[1, 2, 3, 4, 5, 6]

In [7]:
square=lambda x:x**2
print(square(5))

25

In [8]:
def name1(text):
  return text.upper()
def name2(text):
  return text.lower()
def new(func):
  greet=func("hello my name is rajat")
  print(greet)
new(name1)
new(name2)

HELLO MY NAME IS RAJAT
hello my name is rajat

In [10]:
def rotate(list1):
  n=int(input("enter number"))
  for i in range(n):
    list1.insert(0,list1.pop())
  return list1
list1=[1,2,3,4,5]
print(rotate(list1))

enter number3
[3, 4, 5, 1, 2]

In [11]:
def list1(d):
  total=[]
  for key in d:
    total.append([key,d[key]])
  return total
d={'a':1,'b':2,'c':3}
print(list1(d))

[['a', 1], ['b', 2], ['c', 3]]

In [13]:
def sublist(lst1,lst2):
    for i in range(len(lst1)):
        if lst1[i] not in lst2:
            return False
        for j in range(len(lst2)):
            if (lst1[j] in lst2) and (lst2.index(lst1[i+1]) > lst2.index(lst1[i])):
                return True
list1=[1,2,3,4,5]
list2=[3,4]
print(sublist(list1,list2))

False

In [15]:
def new(tuple1, tuple2):
    pair = []
    for i in tuple1:
        for j in tuple2:
            pair.append((i, j))
    return pair

tuple1 = (1, 2)
tuple2 = (3, 4)
print(new(tuple1, tuple2))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [18]:

n = 5
for i in range(n):
    print(' '*(n-i), end='')
    coef = 1
    for j in range(0, i + 1):
        print(coef, end=' ')
        coef = coef * (i - j) // (j + 1)
    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1