<a href="https://colab.research.google.com/github/rajat459/python/blob/main/tuple_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
employees = (
    (101, "Alice", "HR", 60000),
    (102, "Bob", "IT", 75000),
    (103, "Charlie", "Finance", 50000),
    (104, "Diana", "IT", 80000),
    (105, "Eve", "HR", 45000),
)

# Task 1: Extract employees from the "IT" department
it_employees = [emp for emp in employees if emp[2] == "IT"]
print("Employees in IT department:", it_employees)

# Task 2: Find the employee with the highest salary
highest_paid = max(employees, key=lambda emp: emp[3])
print("Highest paid employee:", highest_paid)

# Task 3: Calculate the average salary
average_salary = sum(emp[3] for emp in employees) / len(employees)
print("Average salary:", average_salary)

Employees in IT department: [(102, 'Bob', 'IT', 75000), (104, 'Diana', 'IT', 80000)]
Highest paid employee: (104, 'Diana', 'IT', 80000)
Average salary: 62000.0

In [2]:
# Given tuple
numbers = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

# Task 1: Find the first and last elements
first_element = numbers[0]
last_element = numbers[-1]
print("First element:", first_element)
print("Last element:", last_element)

even_numbers = tuple(num for num in numbers if num % 2 == 0)
print("Even numbers:", even_numbers)

# Task 3: Reverse the tuple
reversed_tuple = numbers[::-1]
print("Reversed tuple:", reversed_tuple)

# Task 4: Find the sum of all elements in the tuple
total_sum = sum(numbers)
print("Sum of all elements:", total_sum)

First element: 10
Last element: 100
Even numbers: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
Reversed tuple: (100, 90, 80, 70, 60, 50, 40, 30, 20, 10)
Sum of all elements: 550

In [3]:
fruits = ("apple", "banana", "cherry", "date", "elderberry")
print("banana" in fruits)
print(fruits.index("cherry"))
print(fruits[-3:])
print(fruits.count("apple"))

True
2
('cherry', 'date', 'elderberry')
1

In [4]:
person = ("John", 30, "New York")
name, age, city = person
print(name, age, city)

John 30 New York

In [5]:
matrix = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(matrix[1])
print(matrix[2][2])
print(sum(sum(row) for row in matrix))

(4, 5, 6)
9
45

In [6]:
a, b = 5, 10
a, b = b, a
print(a, b)

10 5

In [7]:
numbers = [1, 2, 3, 4, 5]
numbers_tuple = tuple(numbers)
numbers_list = list(numbers_tuple)
print(numbers_tuple)
print(numbers_list)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [8]:
coordinates = [(1, 2), (3, 4), (5, 6)]
coord_dict = {coord: sum(coord) for coord in coordinates}
print(coord_dict)
print(coord_dict[(3, 4)])

{(1, 2): 3, (3, 4): 7, (5, 6): 11}
7

In [9]:
students = [("Alice", 85), ("Bob", 75), ("Charlie", 95)]
sorted_by_marks = sorted(students, key=lambda x: x[1])
sorted_by_name = sorted(students, key=lambda x: x[0])
print(sorted_by_marks)
print(sorted_by_name)

[('Bob', 75), ('Alice', 85), ('Charlie', 95)]
[('Alice', 85), ('Bob', 75), ('Charlie', 95)]

In [10]:
try:
    my_tuple = (1, 2, 3)
    my_tuple[0] = 10
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

In [11]:
nested = ((1, 2), (3, 4), (5, 6))
flattened = tuple(item for subtuple in nested for item in subtuple)
print(flattened)

(1, 2, 3, 4, 5, 6)

In [12]:
user_input = input("Enter numbers separated by commas: ")
numbers = tuple(map(int, user_input.split(',')))
print(max(numbers))
print(min(numbers))
specific_num = int(input("Enter a number to check: "))
print(specific_num in numbers)

Enter numbers separated by commas: 1,2,3,4
4
1
Enter a number to check: 4
True