<a href="https://colab.research.google.com/github/rajat459/python/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count=1
for i in range(1,4):
  for j in range (1,4):
    print(count,end=" ")
    count+=1
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
matrix1 = [
    [3, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix2 = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]
for i in range(len(matrix1)):
    for j in range(len(matrix1[1])):
        print(matrix1[i][j] + matrix2[i][j], end=" ")
    print()

12 10 10
10 10 10
10 10 10

In [ ]:
list1 = [1, 2]
list2 = [3, 4]
product=[]
for i in  list1:
  for j in list2:
    product.append((i,j))

print(product)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [1]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
unique=[]
for i in list1:
  if i in list2:
    unique.remove(i)
  else:
    unique.append
print(unique)

ValueError: list.remove(x): x not in list

In [ ]:


nested_list = [[1, 2, 3], [2, 3, 4], [1, 5, 6], [2, 3, 4]]
unique_list = []

for sublist in nested_list:
  if sublist not in unique_list:
    unique_list.append(sublist)

print(unique_list)

[[1, 2, 3], [2, 3, 4], [1, 5, 6]]

In [ ]:
n=int(input("enter a number:"))
fact=1
for i in range(1,n+1):
    fact=fact*i
    n=n+1
print(fact)

enter a number:6
720

In [ ]:
string='bananaaa'
count=0
for i in string:
  if i=='a':
    count+=1
print(count)

5

In [ ]:
list=[4,7,1,20,15,3]
max_num=list[0]
for num in list:
  if (num > max_num):
    max_num = num
print(max_num)

20

In [ ]:
n=int(input("enter a number:"))
sum=0
while(n>0):
  r=n%10
  sum+=r
  n=n//10

print(sum)

enter a number:1234
10

In [ ]:
n=int(input("enter a number:"))
for i in range(1,11):
  print(f"{n}*{i}={n*i}")

enter a number:4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [ ]:
for i in range(1,6):
  print('*'*i)
for i in range(6,0,-1):
  print('*' * i)

*
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
# Print inverted triangle pattern
for j in range(6, 0, -1):  # Loop from 6 down to 1
    print('*' * i)

*****
*****
*****
*****
*****
*****

In [ ]:

for i in range(3):
  for j in range(2):
     print(matrix[j][i], end=" ")
 print()

1 4 2 5 3 6

In [ ]:
# Transpose a 2x3 matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]

# Transpose matrix
for i in range(3):
    for j in range(2):
        print(matrix[j][i], end=" ")
    print()  # Move to the next line

1 4
2 5
3 6